<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <img src="../../../../../assets/images/logo.png" alt="Company Logo">
                </div>
                <p class="slogan">Kathmandu's premium gourmet grocery store.</p>
            </div>
            <div class="col-md-3">
                <div class="follow-us">
                    <p>Follow us:</p>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-envelope-fill"></i></a>
                    <a href="#"><i class="bi bi-messenger"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-us">
                    <p>Contact us:</p>
                    <p class="contact-info">Phone: +977 981-0172491 </p>
                    <p class="contact-info">Email: ninahagergrocer@gmail.com</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="subscribe">
                    <input type="text" class="form-control" placeholder="Subscribe to our newsletter">
                </div>
            </div>
            <div class="col-md-1">
                <div class="subscribe-button">
                    <button class="btn btn-primary">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">© 2023 N&H Grocer. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

