.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #336799;
    color: #fff;
    padding: 10px 20px;
}

.logo img {
    max-width: 60px;
    border-radius: 50%;
    padding: 5px;
}

.tab-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.tab {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.tab:hover {
    color: #cdac73;
}

.tab-container::before,
.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d0cdcd;
    z-index: -1;
}

.date-section {
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    padding-left: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.actions button {
    margin-left: 10px;
    background-color: #cdac73;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    cursor: pointer;
}

.actions button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.dasboardtitle {
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.table-container {
    overflow: auto;
    height: 65vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #336799;
    color: #fff;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}

.table-container tbody tr:hover {
    background-color: #cdac73;
    color: #fff;
}

.text-left {
    text-align: left;
}