<div class="categories">
    <button class="category-btn">
        All
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
    <button class="category-btn">
        Category 2
        <div class="sub-categories">
            <button>Subcategory 4</button>
            <button>Subcategory 5</button>
            <button>Subcategory 6</button>
        </div>
    </button>
</div>

