.categories {
    background-color: #fff9f7;
    color: #333;
    text-align: left;
    height: 60px;
    padding: 10px;
    z-index: 2;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categories ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

.categories ul li {
    cursor: pointer;
    flex: 0 0 auto;
    position: relative;
}

.categories ul li:last-child {
    margin-right: 0;
}

.categories ul li img {
    width: 20px;
    height: 20px;
    margin-right: 0px;
}

.categories .category-btn {
    background: #fff9f7 ;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* Mobile-friendly adjustments */
@media (max-width: 768px) {
    .categories .category-btn {
        padding: 15px;
        font-size: 16px;
    }
}
