<div class="container">
    <h2 class="title-line">Why Choose Us?</h2>
    <div class="feature-container">
        <div class="feature-box">
            <div class="icon"><i class="bi bi-truck"></i></div>
            <div class="content">
                <div class="feature">Home Delivery</div>
                <div class="description">Get your groceries delivered to your doorstep.</div>
            </div>
        </div>
    
        <div class="feature-box">
            <div class="icon"><i class="bi bi-telephone"></i></div>
            <div class="content">
                <div class="feature">Customer Support</div>
                <div class="description">24/7 customer support for your assistance.</div>
            </div>
        </div>
    
        <div class="feature-box">
            <div class="icon"><i class="bi bi-cart"></i></div>
            <div class="content">
                <div class="feature">Quality Products</div>
                <div class="description">Explore a wide range of high-quality products.</div>
            </div>
        </div>
    
        <div class="feature-box">
            <div class="icon"><i class="bi bi-phone"></i></div>
            <div class="content">
                <div class="feature">Online Service</div>
                <div class="description">Access our services conveniently online.</div>
            </div>
        </div>
    </div>
</div>