.fixed-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    padding: 10px 15px;
    background-color: #cdac73;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.fixed-button i {
    font-size: 20px;
    margin-right: 5px;
}

.feedback-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.feedback-popup.show {
    display: block;
}